:root { 
	--triangle-first: rgb(158, 108, 108);
	--eighth: rgb(132, 227, 117);
	--nineth: rgb(54, 207, 79);
	--fortho: rgb(254, 221, 221);
	--triangle-third: rgb(122, 85, 85);
	--sixth: rgb(238, 250, 236);
	--seventh: rgb(207, 251, 217);
	--triangle-second: rgba(206, 31, 31, 0.5);
	--hello: rgb(115, 41, 41);
	--red-border: 1 dashed rgb(209, 16, 16);
	--blue-border-alpha: 2 solid rgba(53, 58, 175, 0.8);
	--hello-font-family: 'Inter';
	--hello-font-weight: 400;
	--hello-font-size: 12px;
	--hello-line-height: 14.52px;
	--Ubuntu-font-family: 'Ubuntu Mono';
	--Ubuntu-font-weight: 700;
	--Ubuntu-font-size: 15px;
	--Ubuntu-letter-spacing: 1.5px;
	--Ubuntu-line-height: 15px;
	--Shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	--Inner-Shadow: inset 10px 20px 40px 5px rgba(0, 0, 0, 0.25);
	--linear-grad2-linear-gradient: 187.91deg, rgb(111, 0, 0) 3.66%, rgba(111, 0, 0, 0.72) 30.73%, rgb(248, 234, 234) 30.74%, rgb(248, 234, 234) 93.23%;
	--linear-angle-linear-gradient: 4.49deg, rgb(35, 250, 0) 139.13%, rgb(255, 0, 0) 13.8%;
	--flag2-linear-gradient: 180deg, rgb(255, 0, 0) -16.67%, rgb(0, 71, 255) 55.99%, rgb(241, 232, 0) 128.65%;
	--xy-test-linear-gradient: 206.57deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0) 100%;
	--case2-linear-gradient: 180deg, rgb(255, 0, 0) 50%, rgb(0, 10, 255) 75%, rgb(255, 199, 0) 100%;
	--sync-case-linear-gradient: 203.2deg, rgb(250, 12, 12) -75%, rgb(5, 58, 246) 100%;
	--radial-gradient-radial-gradient: 50% 50% at 50% 50%, rgb(111, 153, 85) 5.21%, rgba(47, 85, 157, 0.72) 31.77%, rgba(191, 51, 135, 0) 78.13%;
	--moon-radial-gradient: 91.11% 91.11% at 32.14% -5.56%, rgb(62, 72, 157) 0%, rgba(95, 95, 100, 0.5) 100%;
	--mars4-radial-gradient: 95.95% 95.95% at 50% 51.35%, rgb(255, 0, 0) 0%, rgba(250, 158, 21, 0) 100%;
	--forest-radial-gradient: 30.49% 82% at 80.49% 122%, rgb(4, 255, 59) 0%, rgb(255, 122, 0) 100%;
	--ruby-conic-gradient: from 184.4deg at 57.69% 50%, rgb(236, 23, 23) 0deg, rgb(255, 255, 255) 172.5deg, rgb(255, 123, 123) 360deg;
	--backdrop-blur: blur(9.5px);
	--layer-blur: blur(2px);
}
